section, mat-dialog-actions, mat-dialog-content {
  display: flex;
}
section {
  flex-direction: column;
}
mat-dialog-content {
  flex-direction: column;
  align-items: center;
}
mat-dialog-actions {
  justify-content: space-between;
}
