<form (submit)="save()" [formGroup]="overviewForm">
  <mat-form-field>
    <input formControlName="title" matInput placeholder="Your novel's title" required type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="subtitle" matInput placeholder="Your novel's subtitle" type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="startDate" matInput placeholder="Your novel's starting date" type="date">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="targetedEndDate" matInput placeholder="Your novel's estimated end date" type="date">
  </mat-form-field>

  <section class="buttons">
    <button (click)="resetForm()" color="warn" mat-button type="button">Cancel</button>
    <button mat-raised-button type="submit">Save</button>
  </section>
</form>
