<form (submit)="save()" [formGroup]="premiseForm">
  <mat-form-field>
    <input formControlName="character" matInput placeholder="Who is your character?" type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="situation" matInput placeholder="What is your initial situation? (place, date, …)"
           type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="objective" matInput placeholder="What is your character's objective?" type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="opponent" matInput placeholder="Who is your character's opponent?" type="text">
  </mat-form-field>

  <mat-form-field>
    <input formControlName="disaster" matInput
           placeholder="What is the disaster that will bring an end to your character's initial situation?"
           type="text">
  </mat-form-field>

  <mat-form-field>
    <textarea formControlName="fullPremise" matInput placeholder="Enter your full premise here"></textarea>
  </mat-form-field>

  <section class="buttons">
    <button (click)="resetForm()" color="warn" mat-button type="button">Cancel</button>
    <button mat-raised-button type="submit">Save</button>
  </section>
</form>
